$ const { name, date } = input;

<marko-newsletters-email-x-display class="scaleAd" decoded-params=["email"]>
  <@ad-unit ...name />
  <@params date=date email="@{email name}@"/>
</marko-newsletters-email-x-display>
