<common-table width="100%" align="center" class="top">
  <tr>
    <td bgcolor="#ecedee">
      <common-table width="630" align="center" class="main">
        <tr>
          <td>
            <common-stealth-link-element name=input.name />
          </td>
        </tr>
        <common-view-online-element name=input.name />
        <tr>
          <td height="20" class="short">&nbsp;</td>
        </tr>
      </common-table>
    </td>
  </tr>
</common-table>
