import defaultValue from "@base-cms/marko-core/utils/default-value";

$ const {
  hrColor,
  hrHeight
} = input;

<table width="720" padding="0" spacing="0" align="center" style="border-collapse:collapse;" class="main">
  <tr>
    <td height=hrHeight bgcolor=hrColor></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
