// Styles should be considered core/shareable w/o bootstrap

.element-row {
  display: flex;
  justify-content: space-between;
}

.content-card {
  &__website-section-name {
    text-transform: uppercase;
  }

  &__content-published {
    text-transform: uppercase;
  }
}
