$site-font-family-sans-serif: "PT Sans", sans-serif !default;
$site-font-family-serif: "PT Serif", serif !default;

@import "bootstrap";

.content {
  $self: &;
  &--display {
    #{ $self }__body {
      font-family: $site-font-family-serif;
    }
    #{ $self }__teaser {
      font-style: italic;
    }
  }
  &__teaser {
    font-family: $site-font-family-serif;
  }
}

.navbar {
  &--site {
    @extend .sticky-top;
    margin-bottom: map-get($spacers, 4);
    background-color: $dark;
    box-shadow: $box-shadow;
    .nav-item {
      padding: 0 .2rem;
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
