$site-font-family-sans-serif: "PT Sans", sans-serif !default;
$site-font-family-serif: "PT Serif", serif !default;

@import "bootstrap";

@import "core";

.content-card {
  &__content-short-name {
    margin-top: map-get($spacers, 3);
    margin-bottom: 0;
  }

  &__content-published {
    color: $text-muted;
  }

  &__content-name--related-company {
    margin-top: map-get($spacers, 2);
    margin-bottom: 0;
  }

  &__content-teaser {
    margin-top: map-get($spacers, 3);
    margin-bottom: 0;
    font-family: $site-font-family-serif;
    font-style: italic;
    color: $text-muted;
  }
}

.content {
  $self: &;
  &--display {
    #{ $self }__body {
      font-family: $site-font-family-serif;
    }
    #{ $self }__teaser {
      font-style: italic;
    }
  }
  &__teaser {
    font-family: $site-font-family-serif;
  }
}

.navbar {
  &--site {
    @extend .sticky-top;
    background-color: $dark;
    box-shadow: $box-shadow;
    .nav-item {
      padding: 0 .2rem;
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
