
$marko-web-node-image-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$marko-web-node-image-aspect-ratios: join(
  (
    (21 9),
    (16 9),
    (6 5),
    (4 3),
    (3 4),
    (3 2),
    (2 1),
    (1 1),
  ),
  $marko-web-node-image-aspect-ratios
);

$marko-web-node-bg-color:                   #fff !default;
$marko-web-node-spacer:                     .75rem !default;
$marko-web-node-contents-padding:           0 !default;
$marko-web-node-overlay-image-padding:      1.25rem !default;
$marko-web-node-overlay-image-gradient:     linear-gradient(to top, rgba(0, 0, 0, .65), transparent) !default;
$marko-web-node-overlay-image-link-color:   #fff !default;
$marko-web-node-overlay-image-text-shadow:  1px 1px 4px rgba(0, 0, 0, .65) !default;

@mixin marko-web-embed-responsive($ratio-x, $ratio-y) {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    @if $ratio-y and $ratio-x {
      padding-top: percentage($ratio-y / $ratio-x);
    }
  }
}

@mixin marko-web-embed-responsive-item() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// @todo check against non-bootstrap

.node {
  $self: &;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  padding: $marko-web-node-spacer;
  background-color: $marko-web-node-bg-color;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $marko-web-node-spacer;
    &:empty {
      display: none;
    }
    &--overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: $marko-web-node-spacer;
      #{ $self } {
        &__header-left,
        &__header-right {
          margin-bottom: initial;
        }
      }
    }
  }

  &__header-left,
  &__header-right {
    // margin-bottom: $marko-web-node-spacer;
    white-space: nowrap; // eval
    &:empty {
      display: none;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row; // check for column vs row at small res
    justify-content: space-between;
    &:empty {
      display: none;
    }
    &--body {
      margin-top: auto;
    }
  }

  &__footer-left,
  &__footer-right {
    margin-top: $marko-web-node-spacer;
    white-space: nowrap; // eval
    &:empty {
      display: none;
    }
  }

  &__contents {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;

    &--body {
      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    &--overlay {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: $marko-web-node-spacer;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    &:empty {
      display: none;
    }
  }

  &__text {
    &:empty {
      display: none;
    }
  }

  &__overlay {
    position: relative;
    color: #fff;
    text-shadow: $marko-web-node-overlay-image-text-shadow;
    a {
      color: #fff;
    }
  }

  // &__overlay-body {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   display: flex;
  //   flex: 1 1 auto;
  //   flex-direction: column;
  //   width: 100%;
  //   padding: $marko-web-node-spacer;
  //   overflow: hidden;
  //   color: #fff;
  //   text-shadow: $marko-web-node-overlay-image-text-shadow;
  //   a {
  //     color: #fff;
  //   }
  // }

  &__image-container {
    display: inline-block;

    &--gradient {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: $marko-web-node-overlay-image-gradient;
      }
    }

    &--fluid {
      #{ $self } {
        &__image {
          width: 100%;
          height: auto;
        }
      }
      // review
      // #{ $self } {
      //   &__image {
      //     @include marko-web-embed-responsive-item();
      //   }
      //   &__image-placeholder {
      //     @include marko-web-embed-responsive-item();
      //   }
      // }
    }

    // need to add option to comp
    &--align-middle {
      margin-top: auto;
      margin-bottom: auto;
    }

    // need to add option to comp
    &--align-center {
      margin-right: auto;
      margin-left: auto;
    }

    // keep
    @each $ar in $marko-web-node-image-aspect-ratios {
      $x: nth($ar, 1);
      $y: nth($ar, 2);

      &--fluid-#{$x}by#{$y} {
        @include marko-web-embed-responsive($x, $y);
        #{ $self } {
          &__image {
            @include marko-web-embed-responsive-item();
          }
        }
      }
    }
  }

  &--full-height {
    height: 100%;
  }

  &--flush {
    padding: 0;
  }

  &--image-top {
    #{ $self } {
      &__body {
        margin-top: $marko-web-node-spacer;
        &--overlay {
          margin-top: 0;
        }
      }
    }
  }

  &--image-left {
    #{ $self } {
      &__contents {
        flex-direction: row;
        &--body {
          flex-direction: column;
        }
      }
      &__body {
        margin-left: $marko-web-node-spacer;
        &--overlay {
          margin-left: 0;
        }
      }
    }
  }

  &--image-bottom {
    #{ $self } {
      &__contents {
        flex-direction: column-reverse;
        &--body {
          flex-direction: column;
        }
      }
      &__body {
        margin-bottom: $marko-web-node-spacer;
        &--overlay {
          margin-bottom: 0;
        }
      }
    }
  }

  &--image-right {
    #{ $self } {
      &__contents {
        flex-direction: row-reverse;
        &--body {
          flex-direction: column;
        }
      }
      &__body {
        margin-right: $marko-web-node-spacer;
        &--overlay {
          margin-right: 0;
        }
      }
    }
  }
}
