{{#bs-modal/dialog size=size class=dialogClass}}
  <div class="modal-content {{contentClass}}">
    {{yield
      (hash
        header=(component "bs-modal/header")
        body=(component "bs-modal/body")
        footer=(component "bs-modal/footer")
        actions=(hash
          hide=(action "hide")
          show=(action "show")
        )
      )
    }}
  </div>
{{/bs-modal/dialog}}
