// Override variables here.
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,600|Cardo|Lora:400,400i,700,700i");

$black:     rgba(0, 0, 0, .84) !default;
$gray-600:  rgba(0, 0, 0, .54) !default;

$font-weight-bold:      600 !default;
$breadcrumb-divider:    "|" !default;

$theme-font-family-sans-serif: "Fira Sans", "Roboto", "Arial", sans-serif !default;
$theme-font-family-serif: "Lora", "Georgia", "Cambria", "Times New Roman", "Times", serif !default;
$theme-font-family-page-title: "Cardo", "Georgia", "Cambria", "Times New Roman", "Times", serif !default;

$theme-card-header-letter-spacing: 1px !default;

// Item descriptions
$theme-item-description-font-size-sm:       13px !default;
$theme-item-description-font-size:          13px !default;
$theme-item-description-max-lines:          4 !default;
$theme-item-description-line-height-sm-px:  19px !default;
$theme-item-description-line-height-px:     19px !default;

$marko-web-page-wrapper-padding:  1rem !default;
$marko-web-page-wrapper-section-margin: 1.25rem !default;

@import "../../scss/theme.scss";

// Override classes here.
body {
  -webkit-font-smoothing: antialiased;
}
