$pswp__assets-path: "/dist/assets/" !default;
$pswp__background-color: rgba(0, 0, 0, .9) !default;

@import "../../node_modules/photoswipe/src/css/main";
@import "../../node_modules/photoswipe/src/css/default-skin/default-skin";

.pswp {
  &__counter {
    font-size: 18px;
  }
}

.pswp-thumbnail {
  &:hover {
    cursor: zoom-in;
  }
}
