import { get } from '@base-cms/object-path';

<website>
  <@head>
    <-page-title value=get(input, "section.metadata.title") />
    <-rel-canonical pathname=get(input, "section.canonicalPath") />
    <${input.head} />
  </@head>
  <site-navbar />
  <-page-container for="website-section" class="container-fluid" data=input.section>
    <${input.renderBody} />
  </-page-container>
  <hr>
  <site-footer />
</website>
