import { getAsObject } from '@base-cms/object-path';

$ const section = getAsObject(input, 'section');

<website>
  <@head>
    <-page-metadata for="website-section" ...section />
    <${input.head} />
  </@head>
  <site-navbar />
  <-page-container for="website-section" class="container-fluid" data=section>
    <${input.renderBody} />
  </-page-container>
  <hr>
  <site-footer />
</website>
