.ad-container {
  &--max-width-728 {
    max-width: 728px;
  }
  &--max-width-300 {
    max-width: 300px;
  }
  &--margin-auto-x {
    margin-right: auto;
    margin-left: auto;
  }
  &--float-right {
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
}
