.breadcrumb {
  justify-content: center;
}

.breadcrumbs {
  &--content-page-card {
    margin-bottom: .5rem;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -.1px;

    @include media-breakpoint-down(xs) {
      font-size: 13px;
    }

    > .breadcrumb {
      justify-content: left;
      padding-bottom: 0;
      margin-bottom: 0;
      background-color: transparent;
    }
  }
}
