.node-list {
  $self: &;
  align-items: flex-start;
  &__header {
    padding-bottom: 0;
    line-height: get-line-height($theme-card-header-font-size, 26px);
    letter-spacing: -.1px;
  }

  &--feed {
    #{ $self } {
      &__node {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
      }
    }
  }
}
