.page-wrapper {
  $self: &;
  @include media-breakpoint-down($theme-responsive-text-breakpoint) {
    padding-right: $marko-web-page-wrapper-padding;
    padding-left: $marko-web-page-wrapper-padding;
  }

  &__title {
    text-transform: uppercase;
  }

  &__deck {
    margin: 10px auto 0;
  }

  &--top-border {
    border-top: 5px solid rgba($primary, .8);
  }

  &--content-page-header {
    padding-top: $grid-gutter-width;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      padding-top: 0;
    }
  }

  &--website-section-header {
    #{ $self } {
      &__deck {
        @include media-breakpoint-up(md) {
          max-width: 50%;
        }
      }
      &__section {
        text-align: center;
      }
    }
  }

  &--child-website-section-nav {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 14px;
    font-weight: 700;
    background-color: #f0eded;

    #{ $self } {
      &__section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  &--website-section-contents {
    border-top: 2px solid $body-bg;
  }
}
