// Override variables here.
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans+Condensed:700|Source+Serif+Pro&display=swap");

$body-bg:   #f6f6f6 !default;
$black:     #000 !default;
$gray-600:  #3b3b3b !default;

$enable-shadows: false !default;
$enable-rounded: false !default;

$font-weight-bold:      700 !default;
$breadcrumb-divider:    "|" !default;

$font-montserrat: "Montserrat", sans-serif !default;
$font-open-sans: "Open Sans Condensed", "Roboto", sans-serif !default;
$font-source-serif: "Source Serif Pro", "Georgia", serif !default;

$theme-font-family-sans-serif: $font-montserrat !default;
$theme-font-family-serif: $font-source-serif !default;
$theme-font-family-page-title: $font-open-sans !default;

$theme-card-header-letter-spacing: 1px !default;

// Page wrapper
$theme-page-title-font-family: $font-montserrat !default;
$theme-page-title-font-size: 25px !default;
$theme-page-title-font-weight: 700 !default;
$theme-page-title-line-height: get-line-height($theme-page-title-font-size, 32px) !default;
$theme-page-deck-color: $gray-600 !default;
$theme-page-deck-font-family: $theme-font-family-serif !default;
$theme-page-deck-font-size: 16px !default;
$theme-page-deck-line-height: get-line-height($theme-page-deck-font-size, 18px) !default;

// Item descriptions
$theme-item-description-font-size-sm:       13px !default;
$theme-item-description-font-size:          13px !default;
$theme-item-description-max-lines:          4 !default;
$theme-item-description-line-height-sm-px:  19px !default;
$theme-item-description-line-height-px:     19px !default;

$marko-web-page-wrapper-padding:  1rem !default;
$marko-web-page-wrapper-section-margin: 1.25rem !default;

@import "../../scss/theme.scss";

// Override classes here.
body {
  -webkit-font-smoothing: antialiased;
}

.document-container {
  padding-right: 0;
  padding-left: 0;
}

.page-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border-top: 5px solid rgba($primary, .8);
  &__title {
    text-transform: uppercase;
  }
  &__deck {
    margin: 10px auto 0;
    @include media-breakpoint-up(md) {
      max-width: 50%;

    }
  }
}
