// Override variables here.
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans+Condensed:700|Source+Serif+Pro&display=swap");

$body-bg:   #f6f6f6 !default;
$black:     #000 !default;

$font-weight-bold:      700 !default;
$breadcrumb-divider:    "|" !default;

$font-montserrat: "Montserrat", sans-serif !default;
$font-open-sans: "Open Sans Condensed", "Roboto", sans-serif !default;
$font-source-serif: "Source Serif Pro", "Georgia", serif !default;

$theme-font-family-sans-serif: $font-montserrat !default;
$theme-font-family-serif: $font-source-serif !default;
$theme-font-family-page-title: $font-open-sans !default;

$theme-card-header-letter-spacing: 1px !default;

// Item descriptions
$theme-item-description-font-size-sm:       13px !default;
$theme-item-description-font-size:          13px !default;
$theme-item-description-max-lines:          4 !default;
$theme-item-description-line-height-sm-px:  19px !default;
$theme-item-description-line-height-px:     19px !default;

$marko-web-page-wrapper-padding:  1rem !default;
$marko-web-page-wrapper-section-margin: 1.25rem !default;

@import "../../scss/theme.scss";

// Override classes here.
body {
  -webkit-font-smoothing: antialiased;
}
