<node-element name="footer">
  <if(input.left)>
    <node-element name="footer-left">
      <${input.left} />
    </node-element>
  </if>
  <if(input.right)>
    <node-element name="footer-right">
      <${input.right} />
    </node-element>
  </if>
</node-element>
