import { getAsObject, get } from '@base-cms/object-path';

$ const publication = getAsObject(data, 'publication');

<layout publication=publication>

  <cms-ad-gam-display id="gpt-ad-bs" class="text-center" />

  <h1>${publication.name}</h1>

</layout>
