import { getAsObject, get } from '@base-cms/object-path';
import GAM from "../../../config/gam";

<layout>
  <@head>
    <marko-web-gam-head
      slots={
        "gpt-ad-bs": GAM.getAdUnit({ name: "BS" }),
      }
    />
  </@head>

  <@page>
    <marko-web-gam-define-display-ad id="gpt-ad-bs" class="text-center" />
    <h1>${publication.name}</h1>
  </@page>
</layout>
