$ const { page } = data;

<marko-web-layout-dynamic-page page=page>
  <@head>
    <marko-web-gtm-context|{ context }| for="dynamic-page" obj=page>
      <marko-web-gtm-push data=context />
    </marko-web-gtm-context>
  </@head>
  <@page>
    <marko-web-content-body obj=page />
  </@page>
</marko-web-layout-dynamic-page>
