$ const { site } = out.global;

<document>
  <@head>
    <cms-gtm-container container-id=site.get('gtmContainer') />
  </@head>
  <cms-page-container for="home" class="container-fluid">
    <h1>Homepage</h1>
    <hr>
    <site-footer />
  </cms-page-container>
</document>
