{{#if show}}
  <div
    class="progress-bar progress-bar-striped {{progressBackground}} progress-bar-animated w-100"
    role="progressbar"
    aria-valuenow={{value}}
    aria-valuemin="0"
    aria-valuemax="100"
  >
  </div>
{{/if}}
