<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      {{entypo-icon "magnifying-glass"}}
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Search" aria-label="Search">
</div>