import { getAsObject } from "@base-cms/object-path";

$ const blockName = "page-grid";

<marko-web-node-element
  block-name=blockName
  name="top-row"
  tag=input.tag
  modifiers=input.modifiers
  attrs=input.attrs
>
  <if(input.leftCol)>
    <marko-web-node-element ...input.leftCol name="top-left-col" block-name=blockName />
  </if>
  <if(input.rightCol)>
    <marko-web-node-element ...input.rightCol name="top-right-col" block-name=blockName />
  </if>
</marko-web-node-element>
