{{#bs-modal
  show=true
  size="xl"
  backdrop="static"
  contentClass="bg-secondary"
  onClose=(action "closeModal")
as |modal|
}}
  {{#modal.header}}
    <button
      type="button"
      class="close"
      aria-label="Close"
      {{action modal.actions.hide}}
    >
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}
  {{#modal.body class="pt-0"}}
    <div class="form-group mb-0">
      <label for="content.name">Name / Title</label>
      <input id="content.name" type="text" class="form-control form-control-lg form-control-alternative">
    </div>
  {{/modal.body}}
{{/bs-modal}}
