<default-theme-hero-node-block nodes=input.nodes>
  <@hero|{ node }|>
    <website-content-card-node node=node title-modifiers=["large"] />
  </@hero>
  <@list|{ nodes }|>
    <website-content-list-block nodes=nodes />
  </@list>
</default-theme-hero-node-block>
