import { get } from '@base-cms/object-path';

<website>
  <@head>
    <-page-title value=get(input, "content.metadata.title") />
    <-meta-description content=get(input, "content.metadata.description") />
    <-rel-canonical pathname=get(input, "content.canonicalPath") />
    <${input.head} />
  </@head>
  <site-navbar />
  <-page-container for="content" class="container-fluid" data=data.content>
    <${input.renderBody} />
  </-page-container>
  <hr>
  <site-footer />
</website>
