import { getAsObject } from '@base-cms/object-path';

$ const content = getAsObject(input, 'content');

<website>
  <@head>
    <-page-metadata for="content" ...content />
    <${input.head} />
  </@head>
  <site-navbar />
  <-page-container for="content" class="container-fluid" data=content>
    <${input.renderBody} />
  </-page-container>
  <hr>
  <site-footer />
</website>
