import { get } from '@base-cms/object-path';

<website>
  <@head>
    <title>${get(input, "content.name")}</title>
    <-rel-canonical pathname=get(input, "content.canonicalPath") />
    <${input.head} />
  </@head>
  <site-navbar />
  <-page-container for="content" class="container-fluid" data=data.content>
    <${input.renderBody} />
  </-page-container>
  <hr>
  <site-footer />
</website>
