<cms-document ...input>
  <@head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700">
    <${input.head} />
  </@head>
  <site-navbar />
  <${input.renderBody} />
</cms-document>
