// @import "pulse/variables";
// @import "../../node_modules/bootstrap/scss/bootstrap";
// @import "pulse/bootswatch";

// @import "../../node_modules/argon-design-system-free/assets/scss/argon";
@import "../../node_modules/@creative-tim-official/argon-dashboard-free/assets/scss/argon";

@import "spin";
@import "z-depth";

// Add xl modal, per https://github.com/twbs/bootstrap/pull/19925
$modal-xl:                    1140px !default;
@include media-breakpoint-up(lg) {
  .modal-xl { max-width: $modal-lg; }
}

@include media-breakpoint-up(xl) {
  .modal-xl { max-width: $modal-xl; }
}

// Application loading progress bar
.application-loading {
  margin: 0;
  border-radius: 0;
  z-index: 1040;
  box-shadow: $z-depth-half;
}
// Showing progress cursor when transitioning/loading.
body.transitioning {
  cursor: progress;
}

// Add min-height utility
.mnh-100 {
  min-height: 100%;
}

// Fix issue with CT's toggler to ensure size doesn't change
.custom-toggle-slider {
  width: 50px;
}

.card.content:hover {
  box-shadow: $z-depth-1-half;
}

.header.content .display-2 {
  line-height: 1.3;
}

$content-bg-color: #f8f9fe;

.bg-content {
  background-color: $content-bg-color;
}

.fill-content {
  fill: $content-bg-color;
}

.btn-content-create {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  left: inherit;
}

.btn-content-queue {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
