.leaders-card {
  $block: &;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: leaders-card-width();
  word-wrap: break-word;
  background-clip: border-box;

  &__header {
    display: flex;
    flex-direction: row;
    padding: $leaders-card-padding;
    color: $leaders-card-header-color;
    background-color: $leaders-card-initial-bg-color;
    opacity: $leaders-card-initial-opacity;
    transition-duration: $leaders-card-transition-duration;
    transition-property: $leaders-card-transition-property;
  }

  &__body {
    flex: 1 1 auto;
    padding: $leaders-card-padding;
    font-size: $leaders-card-body-font-size;
    font-weight: $leaders-card-body-font-weight;
    color: $leaders-card-body-color;
    background-color: $leaders-card-initial-bg-color;
    opacity: $leaders-card-initial-opacity;
    transition-duration: $leaders-card-transition-duration;
    transition-property: $leaders-card-transition-property;

    > div:not(:last-child) {
      margin-bottom: $leaders-card-padding;
    }
  }

  &__header-left + &__header-right {
    padding-left: $leaders-card-padding;
    border-left: 1px solid $leaders-card-header-hr-color;
  }

  &__header-left:not(:only-child) {
    padding-right: $leaders-card-padding;
  }

  &__header-right-top + &__header-right-bottom {
    padding-top: $leaders-card-padding;
    border-top: 1px solid $leaders-card-header-hr-color;
  }

  &__header-right-top:not(:only-child) {
    padding-bottom: $leaders-card-padding;
  }

  &--active {
    #{ $block } {
      &__header {
        background-color: $leaders-card-header-bg-color;
        opacity: $leaders-card-final-opacity;
      }
      &__body {
        background-color: $leaders-card-body-bg-color;
        opacity: $leaders-card-final-opacity;
      }
    }
  }
}
