.leaders-dropdown {
  $self: &;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition-duration: .25s;
  transition-property: transform, opacity, -webkit-transform;
  transform: rotateX(-5deg);
  transform-origin: 50% -50px;
  will-change: transform, opacity;

  &--active {
    pointer-events: auto;
    opacity: 1;
    transform: none;
    #{ $self } {
      &__section {
        &--active {
          pointer-events: auto;
        }
      }
    }
  }

  &--transitions-disabled {
    #{ $self } {
      &__section,
      &__background,
      &__inner-background,
      &__arrow,
      &__container {
        transition: none;
      }
    }
  }
}
