.leaders-section {
  $section: &;
  margin-bottom: 6px;

  &__children {
    margin-bottom: 10px;
  }

  &__toggle-button {
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-size: $leaders-nav-link-font-size;
    font-weight: $leaders-nav-link-font-weight;
    line-height: $leaders-nav-link-line-height;
    color: $leaders-nav-link-color;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__toggle-button-title {
    margin-left: 5px;
    word-break: break-word;
  }

  &--contextual {
    #{ $section } {
      &__toggle-button {
        font-size: $leaders-section-contextual-title-font-size;
        font-weight: $leaders-section-contextual-title-font-weight;
        color: $leaders-section-contextual-title-color;
        text-transform: $leaders-section-contextual-title-transform;
      }
    }
  }

  &--with-parent {
    #{ $section } {
      &__title {
        margin-right: -$leaders-body-padding-x;
        margin-bottom: 6px;
        margin-left: -$leaders-body-padding-x;
        font-size: $leaders-parent-section-content-title-font-size;
        font-weight: $leaders-parent-section-content-title-font-weight;
        line-height: $leaders-parent-section-content-title-line-height;
        color: $leaders-parent-section-content-title-color;
        text-transform: $leaders-parent-section-content-title-transform;
        border-bottom: 1px solid $leaders-parent-section-content-title-border-color;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
    #{ $section } {
      &__children {
        margin-bottom: 0;
      }
    }
  }
}
