<footer>
  <nav>
    <ul>
      <li><a href="/page/privacy-policy">Privacy Policy</a></li>
      <li><a href="/page/terms-conditions">Terms &amp; Conditions</a></li>
      <li><a href="#"><icon icon="github" /></a></li>
      <li><a href="#"><icon icon="facebook" /></a></li>
      <li><a href="#"><icon icon="twitter" /></a></li>
      <li><a href="#"><icon icon="linkedin" /></a></li>
    </ul>
  </nav>
</footer>
