import defaultValue from "@base-cms/marko-core/utils/default-value";

$ const footerStyle = defaultValue(input.footerStyle, "background-color: #000;");

<common-table width="700" align="center" class="main footer-nav" style=`${footerStyle}` padding=10 spacing=0 >
  <tr>
    <td>
      <common-style-b-brand-nav-element />
      <common-style-b-copyright-element />
    </td>
  </tr>
</common-table>
