.hero-flow {
  &__hero,
  &__list {
    flex: initial;
    max-width: 100%;
  }
  &__header {
    padding-bottom: 0;
    line-height: get-line-height($theme-card-header-font-size, 26px);
    letter-spacing: -.1px;
  }

  &__ad-wrapper {
    display: flex;
    flex-direction: row;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__ad {
    margin-left: 1rem;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-top: map-get($spacers, block);
      margin-left: 0;
    }

    &--max-width-300 {
      > div {
        max-width: 300px;
        @include media-breakpoint-down(sm) {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}
