@import "bootstrap";

$site-font-family-serif: 'PT Serif', serif !default;

.content {
  $self: &;
  &--display {
    #{ $self }__body {
      font-family: $site-font-family-serif;
    }
    #{ $self }__teaser {
      font-family: $site-font-family-serif;
      font-style: italic;
    }
  }
}
