@import "bootstrap";

$site-font-family-serif: 'PT Serif', serif !default;

.content {
  $self: &;
  &--display {
    #{ $self }__body {
      font-family: $site-font-family-serif;
    }
    #{ $self }__teaser {
      font-style: italic;
    }
  }
  &__teaser {
    font-family: $site-font-family-serif;
  }
}

.navbar {
  &--site {
    background-color: $black;
    .nav-item {
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 2px;
      padding: 0 .2rem;
    }
  }
}
