$ const { config } = out.global;
$ const { section } = data;

<website-document>
  <@container>
    <@page>
      <h1>${config.siteName()} - Section ID ${section.id}</h1>
    </@page>
  </@container>
</website-document>
