$ const { config } = out.global;
$ const { section } = data;

<marko-web-layout-website-section section=section>
  <@page>
    <h1>${config.siteName()} Section ${section.id}</h1>
  </@page>
</marko-web-layout-website-section>
