$ const { config } = out.global;
$ const { section } = data;

<website-section-layout section=section>
  <@page>
    <h1>${config.siteName()} Section ${section.id}</h1>
  </@page>
</website-section-layout>
