import { asArray } from '@base-cms/utils';
import { shouldCollapse } from '@base-cms/marko-web/utils';

$ const nodes = asArray(input.nodes);
$ const collapse = shouldCollapse(input.collapse);

<if(!collapse || nodes.length)>
  <ul class="list-group list-group-flush">
    <for|content| of=nodes>
      <content-list-group-item-a content=content />
    </for>
  </ul>
</if>
