{{!-- @todo All of this needs to be re-done --}}
<div class="form-group mb-0">
  <div class="input-group input-group-alternative">
    <div class="input-group-prepend">
      <span class="input-group-text">{{entypo-icon "magnifying-glass"}}</span>
    </div>
    <input class="form-control" placeholder="Search" type="text">
  </div>
</div>