<div class="embed-responsive-item d-flex align-items-center">
  {{content-card/image
    title=name
    src=image.src
    alt=image.alt
    focalpoint=image.focalpoint
    isLogo=isLogo
  }}

  {{#content-card/link contentId=contentId type=type}}
    {{content-card/image-overlay type=type status=statusText}}
  {{/content-card/link}}
</div>
