import { get } from '@base-cms/object-path';

<website>
  <site-navbar />
  <cms-container for="dynamic-page" class="container-fluid" data=data.page>
    $!{get(data, "page.body")}
  </cms-container>
  <site-footer />
</website>
