<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/tactical">Tactical</a></li>
    <li><a href="/tactical/firearms">Firearms</a></li>
    <li><a href="/command-hq">Command/HQ</a></li>
  </ul>
</nav>
