<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <small>Selected: {{selected.length}}</small>
    <button
      class="btn btn-sm btn-secondary z-depth-0"
      disabled={{clearDisabled}}
      {{action on-clear}}
    >
      clear
    </button>
  </div>
  <div class="list-group list-group-flush">
    {{#each facets as |facet|}}
      {{content/browse/left-menu/tab-content/content-types/button
        key=facet.key
        name=facet.name
        count=facet.count
        selected=selected
        on-click=on-click
      }}
    {{/each}}
  </div>
</div>