<div class="list-group">
  {{#each facets as |facet|}}
    {{content/browse/left-menu/tab-content/content-types/button
      key=facet.key
      name=facet.name
      count=facet.count
      selected=selected
      on-click=on-click
    }}
  {{/each}}
</div>
