$primary: #e10d2e;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;

$theme-site-navbar-secondary-bg-color: #333;
$theme-site-navbar-primary-bg-color: #333;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-header-breakpoints: (
  hide-primary: 832px,
  hide-secondary: 906px,
  small-logo: 1015px,
  small-text-primary: 932px,
  small-text-secondary: 1105px
);

@import "../../node_modules/@base-cms/marko-web-gam/scss/fixed-ad-bottom";
@import "../../node_modules/@base-cms/marko-web-reveal-ad/scss/reveal-ad";
@import "../../node_modules/@base-cms/marko-web-theme-default/skins/lazarus/skin.scss";
