$marko-web-icon-size:         1rem !default;
$marko-web-icon-size-md:      1.25rem !default;
$marko-web-icon-size-lg:      1.5rem !default;
$marko-web-icon-size-xl:      2.5rem !default;

$marko-web-icon-fill:         #000 !default;
$marko-web-icon-fill-dark:    #000 !default;
$marko-web-icon-fill-light:   #fff !default;

$marko-web-icon-drop-shadow:  1px 1px 1px rgba(0, 0, 0, .3) !default;
$marko-web-icon-transition:   fill ease 250ms !default;
