{{#content/browse/left-menu/tab-content activeTab=activeTab}}
  
{{/content/browse/left-menu/tab-content}}

<div class="tab-seperator"></div>

<div class="tabs d-flex flex-column">
  {{#each tabs as |tab|}}
    {{#content/browse/left-menu/button
      title=tab.title
      for=tab.key
      activeTab=activeTab
      on-click=(action "setActiveTab")
    }}
      {{entypo-icon tab.icon class="text-white h2"}}
    {{/content/browse/left-menu/button}}
  {{/each}}
</div>
