@import "browse/left-menu";

.content-browse {
  .content-browse__list {
    margin-top: map-get($spacers, -8);
    margin-bottom: map-get($spacers, 6)
  }

  .footer-controls {
    position: fixed;
    bottom: 1.5rem;
    z-index: 110;

    button {
      box-shadow: $z-depth-2;
    }

    &.left {
      left: 1.5rem;
    }

    &.right {
      right: 1.5rem;
    }
  }
}

// @todo These should be made generic and moved
.navbar .search {
  .input-group {
    border-radius: 2em;
    border: 2px solid rgba(255, 255, 255, 0.6);

    .input-group-text {
      background-color: transparent;
      padding-left: 1rem;
      color: rgba(255, 255, 255, 0.6);
      border: 0;
      box-shadow: none;
    }

    .form-control {
      color: rgba(255, 255, 255, 0.9);
      background-color: transparent;
      width: 350px;
      border: 0;
      box-shadow: none;
      font-size: 0.875rem;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

.navbar {
  .btn-sort-options,
  .btn-sort-direction,
  .btn-content-queue {
    color: rgba(255, 255, 255, 0.8);
    border: none;
  }
}

.user-dropdown {
  .dropdown-toggle {
    font-size: $font-size-sm;

    &::after {
      display: none;
    }
  }
}
