import { get } from '@base-cms/object-path';

<website>
  <site-navbar />
  <div class="container-fluid">
    <h1>${get(data, "content.name")}</h1>
    <hr>
    <h4>$!{get(data, "content.teaser")}</h4>
    <hr>
    <article>
      $!{get(data, "content.body")}
    </article>
  </div>
  <hr>
  <site-footer />
</website>
