import { getAsObject } from '@base-cms/object-path';

$ const content = getAsObject(data, 'content');

<layout content=content>
  <h1>${content.name}</h1>
  <hr>
  <h4>$!{content.teaser}</h4>
  <hr>
  $!{content.body}
</layout>
