import { getAsObject } from '@base-cms/object-path';

$ const content = getAsObject(data, 'content');

<layout content=content>
  <div class="row">
    <div class="col">
      <div class="card border-0 shadow">
        <div class="card-body">
          <-content-name obj=content class="mb-0" />
          <-content-teaser obj=content class="mt-3" />
          <hr />
          <-content-body obj=content class="mt-3" />
        </div>
      </div>
    </div>
  </div>

</layout>
