{{#if isLoading}}
  <div class="badge badge-pill bg-light text-default opacity-6 z-depth-1">
    <div class="d-flex align-items-center">
      <span class="h2 mb-0">{{entypo-icon "hour-glass" class="d-inline-block spin mr-2"}}</span>
      <span class="mr-2">Loading...</span>
    </div>
  </div>
{{/if}}
