import { getAsArray } from '@base-cms/object-path';

$ const nodes = getAsArray(input, "nodes");

<marko-web-node-list inner-justified=true>
  <if(input.header)>
    <@header ...input.header />
  </if>
  <@nodes nodes=nodes>
    <@slot|{ node }|>
      <website-content-list-node node=node display-image=input.displayImage />
    </@slot>
  </@nodes>
</marko-web-node-list>
