$ const { site } = out.global;

<marko-web-leaders props={
  sectionAlias: site.get("leaders.alias"),
  open: null,
  expanded: true,
  contextual: true,
  displayHeader: false,
  columns: 3,
  offsetTop: 50,
  viewAllHref: '/leaders',
  mediaQueries: [
    { prop: "columns", value: 2, query: "(max-width: 991px)" },
    { prop: "columns", value: 1, query: "(max-width: 700px)" },
  ],
}/>
