<tr>
  <td
    height="20"
    align="center"
    valign="middle"
    style="font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#666666;line-height:12px;"
  >
      <span class="breakLn">${input.name}</span>
      <span class="mobileHide">&nbsp; | &nbsp;</span>
      To view this email as a web page, <a target="_blank" style="color:#666666;" href="%%view_email_url%%">click here.</a>
  </td>
</tr>
