{{!-- <nav class="navbar navbar-expand navbar-horizontal navbar-dark bg-primary">
  {{#link-to "index" class="navbar-brand"}}Base<span class="text-dark">CMS</span>{{/link-to}}
</nav> --}}

<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white">
  
</nav>