import { getAsObject } from "@base-cms/object-path";

$ const page = getAsObject(data, "page");

<layout page=page>
  <@head>
    <marko-web-gam-head />
  </@head>
  <div class="page-wrapper">
    <div class="page-wrapper__section">
      $!{page.body}
    </div>
  </div>
</layout>
