import { getAsObject } from "@base-cms/object-path";

$ const page = getAsObject(data, "page");

<layout page=page>
  <@head>
    <marko-web-gam-head />
  </@head>

  <marko-web-page-wrapper>
    <@section>$!{page.body}</@section>
  </marko-web-page-wrapper>
</layout>
