import categories from "../../categories";

$ const { id, alias, name, pageNode } = data;

<shared-website-section-page-tech-group-directory-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>
  <@directory facets=categories />
</shared-website-section-page-tech-group-directory-layout>
