<default-theme-hero-flow nodes=input.nodes>
  <@hero|{ node }|>
    <website-content-card-node node=node image-width=630 title-modifiers=["large"] />
  </@hero>
  <@list|{ nodes }|>
    <website-content-list-flow
      nodes=nodes
      flush-x=true
      flush-y=true
      with-teaser=true
      native-x=input.nativeX
      inner-justified=false
    />
  </@list>
</default-theme-hero-flow>
