@import "functions";
@import "mixins";
@import "variables";

// In order to use the default fonts, include the line below in the website CSS.
// @import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap");

.leaders {
  @include leaders-base();

  &__body {
    padding: $leaders-body-padding-y $leaders-body-padding-x;
    border-bottom: 2px solid $leaders-gray-5;
  }

  &__footer {
    padding: $leaders-footer-padding-y $leaders-footer-padding-x;
    text-align: center;
    border-bottom: 2px solid $leaders-gray-5;
    > a {
      font-size: $leaders-nav-link-font-size;
      font-weight: $leaders-nav-link-font-weight;
      line-height: $leaders-nav-link-line-height;
      color: $leaders-nav-link-color;
      &:hover {
        color: $leaders-nav-link-color;
      }
    }
  }
}
