.ad-container {
  text-align: center;
  &--top-of-page {
    margin-bottom: $theme-ad-margin;
  }
  &--content-page-right {
    margin-bottom: $theme-ad-margin;
  }
  &--inline {
    margin-bottom: $theme-ad-margin;
  }
  &--in-card {
    display: flex;
    justify-content: center;
    min-height: 100%;
    > div {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  iframe {
    box-shadow: $theme-ad-box-shadow;
  }
}
