.card-deck-block {
  @include make-row();

  &__node {
    margin-bottom: map-get($spacers, block);
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }
}
