.column-list-block {
  @include make-row();

  &__column {
    margin-bottom: map-get($spacers, block);
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
    @include media-breakpoint-up(xl) {
      @include make-col(4);
    }
  }
  &__list {
    margin-bottom: map-get($spacers, block);
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
    @include media-breakpoint-up(xl) {
      @include make-col(8);
    }
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}
