.page-dates {
  &__content-published {
    font-family: $theme-content-published-date-font-family;
    font-size: $theme-content-published-date-font-size;
    font-weight: $theme-content-published-date-font-weight;
    line-height: $theme-content-published-date-line-height;
    color: $theme-content-published-date-color;
    text-transform: $theme-content-published-date-text-transform;
  }

  &__content-published,
  &__content-starts,
  &__content-start-date,
  &__content-ends,
  &__content-end-date {
    display: inline;
  }

  &__content-starts + &__content-ends,
  &__content-start-date + &__content-end-date {
    &::before {
      margin-right: map-get($spacers, 1);
      margin-left: map-get($spacers, 1);
      content: "\2014";
    }
  }
}
