.site-footer {
  margin-top: auto;
  font-family: $theme-site-footer-font-family;
  font-size: $theme-site-footer-font-size;
  font-weight: $theme-site-footer-font-weight;
  line-height: $theme-site-footer-line-height;
  box-shadow: $theme-site-footer-box-shadow;
  opacity: $theme-site-footer-opacity;

  &__container {
    @include make-container();
    padding-top: $theme-site-footer-spacer;
    padding-bottom: $theme-site-footer-spacer;
    text-align: center;

    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      padding-top: $theme-site-footer-spacer-sm;
      padding-bottom: $theme-site-footer-spacer-sm;
    }

    &--secondary {
      @if $theme-site-footer-secondary-type == dark {
        @extend .navbar-dark;
      } @else {
        @extend .navbar-light;
      }
      background-color: $theme-site-footer-secondary-bg-color;
    }

    &--primary {
      @if $theme-site-footer-primary-type == dark {
        @extend .navbar-dark;
      } @else {
        @extend .navbar-light;
      }
      background-color: $theme-site-footer-primary-bg-color;
    }
  }

  &__brand {
    display: inline-block;
  }

  &__logo {
    height: $theme-site-footer-logo-height;
    filter: drop-shadow($theme-site-footer-logo-box-shadow);
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      height: $theme-site-footer-logo-height-sm;
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
    margin-bottom: $theme-site-footer-spacer;
    list-style: none;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-bottom: $theme-site-footer-spacer-sm;
      font-size: $font-size-sm;
    }
  }

  &__item {
    margin: 0 $theme-site-footer-spacer;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin: 0 $theme-site-footer-spacer-sm;
    }
  }

  &__link {
    display: block;
    padding: 0;
    @if $theme-site-footer-primary-type == dark {
      color: $navbar-dark-color;
      &:hover {
        color: $navbar-dark-hover-color;
      }
      &:active {
        color: $navbar-dark-active-color;
      }
    } @else {
      color: $navbar-light-color;
      &:hover {
        color: $navbar-light-hover-color;
      }
      &:active {
        color: $navbar-light-active-color;
      }
    }
  }

  &__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: $theme-site-footer-spacer;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-bottom: $theme-site-footer-spacer-sm;
    }

    a {
      margin: 0 $theme-site-footer-spacer;
      @include media-breakpoint-down($theme-responsive-text-breakpoint) {
        margin: 0 $theme-site-footer-spacer-sm;
      }
    }
  }

  &__copyright {
    font-size: $theme-site-footer-copyright-font-size;
    font-weight: $theme-site-footer-copyright-font-weight;
    line-height: $theme-site-footer-copyright-line-height;
    color: $theme-site-footer-copyright-color;
  }
}
