$ const { site } = out.global;
$ const path = `ad.units.${input.alias}`;
$ const adunit = site.getAsObject(path);
$ const display = input.alias && adunit.path && adunit.size;

<if(display)>
  <cms-ad-gam-define-display ad-unit-path=adunit.path size=adunit.size class=input.class />
</if>
