$ const { name, date } = input;

<common-table width="700" style="border-collapse:collapse; background-color: #fff;" align="center" class="main" padding=0 spacing=0>
  <tr>
    <td style="border-collapse: separate; padding: 0 15px 15px 15px; min-width: 100%; text-align: center;">
      <common-advertisement-element
        name=name
        date=date
      />
    </td>
  </tr>
</common-table>
