import { getAsObject } from '@base-cms/object-path';

$ const { site } = out.global;
$ const section = getAsObject(input, 'section');

<document>
  <@head>
    <cms-gtm-container container-id=site.get('gtmContainer') />
    <cms-page-metadata for="website-section" ...section />
    <${input.head} />
  </@head>
  <cms-page-container for="website-section" class="container-fluid-max" data=section>
    <${input.renderBody} />
  </cms-page-container>
  <hr>
  <site-footer />
</document>
