$marko-web-document-container-gutter:     .75rem !default;
$marko-web-document-container-max-width:  1200px !default;

$marko-web-page-padding:                  $marko-web-document-container-gutter !default;

$marko-web-page-wrapper-bg-color:         #fff !default;
$marko-web-page-wrapper-padding:          $marko-web-page-padding !default;

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.document-container {
  position: relative;
  flex-grow: 1;
  width: 100%;
  padding-right: $marko-web-document-container-gutter;
  padding-left: $marko-web-document-container-gutter;
  margin-right: auto;
  margin-left: auto;

  @if $marko-web-document-container-max-width {
    @media (min-width: $marko-web-document-container-max-width) {
      max-width: $marko-web-document-container-max-width;
    }
  }
}

.page {
  padding-top: $marko-web-page-padding;
  padding-bottom: $marko-web-page-padding;
  &:first-child {
    padding-top: $marko-web-page-padding * 2;
  }
  &:last-child {
    padding-bottom: $marko-web-page-padding * 2;
  }
}

.page-wrapper {
  padding: $marko-web-page-wrapper-padding;
  background-color: $marko-web-page-wrapper-bg-color;
  &__section {
    margin-bottom: $marko-web-page-wrapper-padding;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
