
$marko-web-node-image-aspect-ratios: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$marko-web-node-image-aspect-ratios: join(
  (
    (21 9),
    (16 9),
    (6 5),
    (4 3),
    (3 2),
    (2 1),
    (1 1),
  ),
  $marko-web-node-image-aspect-ratios
);

$marko-web-node-bg-color:                   #fff !default;
$marko-web-node-spacer:                     .75rem !default;
$marko-web-node-overlay-image-padding:      1.25rem !default;
$marko-web-node-overlay-image-gradient:     linear-gradient(to top, rgba(0, 0, 0, .65), transparent) !default;
$marko-web-node-overlay-image-link-color:   #fff !default;
$marko-web-node-overlay-image-text-shadow:  1px 1px 4px rgba(0, 0, 0, .65) !default;

$marko-web-node-placeholder-image:              url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z' fill-rule='evenodd'/%3E%3C/svg%3E") !default;
$marko-web-node-placeholder-image-bg-color:     #007bff !default;
$marko-web-node-placeholder-image-bg-position:  .5rem .5rem !default;
$marko-web-node-placeholder-image-opacity:      .2 !default;


@mixin marko-web-node-fluid-image($ratio-x, $ratio-y) {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    @if $ratio-y and $ratio-x {
      padding-top: percentage($ratio-y / $ratio-x);
    }
  }
}

@mixin marko-web-node-fluid-image-item() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.node {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  $self: &;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  padding: $marko-web-node-spacer;
  background-color: $marko-web-node-bg-color;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $marko-web-node-spacer;
    &:empty {
      display: none;
    }
    &--overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: $marko-web-node-spacer;
      margin-bottom: initial;
    }
  }

  &__header-left,
  &__header-right {
    &:empty {
      display: none;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    &:empty {
      display: none;
    }
    &--body {
      margin-top: auto;
      #{ $self } {
        &__footer-left,
        &__footer-right {
          margin-top: 0;
        }
      }
    }
  }

  &__footer-left,
  &__footer-right {
    margin-top: $marko-web-node-spacer;
    &:empty {
      display: none;
    }
  }

  &__header-right,
  &__footer-right {
    text-align: right;
  }

  &__contents {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    &--body {
      margin-bottom: $marko-web-node-spacer;
      > :last-child {
        margin-bottom: 0;
      }
    }
  }

  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    &--overlay {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: $marko-web-node-spacer;
    }
  }

  &__title {
    &:empty {
      display: none;
    }
  }

  &__text {
    &:empty {
      display: none;
    }
  }

  &__image-wrapper {
    position: relative;
    color: #fff;
    text-shadow: $marko-web-node-overlay-image-text-shadow;
    a {
      color: #fff;
    }

    &--align-middle {
      margin-top: auto;
      margin-bottom: auto;
    }

    &--align-center {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__image-inner-wrapper {
    display: inline-block;

    &--placeholder {
      background-color: $marko-web-node-placeholder-image-bg-color;
      #{ $self } {
        &__image {
          background-image: $marko-web-node-placeholder-image;
          background-position: $marko-web-node-placeholder-image-bg-position;
          opacity: $marko-web-node-placeholder-image-opacity;
        }
      }
    }

    &--gradient {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        background: $marko-web-node-overlay-image-gradient;
      }
    }

    &--fluid {
      #{ $self } {
        &__image {
          width: 100%;
          height: auto;
        }
      }
    }

    @each $ar in $marko-web-node-image-aspect-ratios {
      $x: nth($ar, 1);
      $y: nth($ar, 2);

      &--fluid-#{$x}by#{$y} {
        @include marko-web-node-fluid-image($x, $y);
        #{ $self } {
          &__image {
            @include marko-web-node-fluid-image-item();
          }
        }
      }
      // Add the inverse ratios (16by9 becomes 9by16, 4by3 becomes 3by4, etc)
      @if $x != $y {
        &--fluid-#{$y}by#{$x} {
          @include marko-web-node-fluid-image($y, $x);
          #{ $self } {
            &__image {
              @include marko-web-node-fluid-image-item();
            }
          }
        }
      }
    }
  }

  &--full-height {
    height: 100%;
  }

  &--flush {
    padding: 0;
  }

  &--image-flush {
    padding: 0;
    > #{ $self } {
      &__header {
        padding-top: $marko-web-node-spacer;
        padding-right: $marko-web-node-spacer;
        padding-left: $marko-web-node-spacer;
      }
      &__footer {
        padding-right: $marko-web-node-spacer;
        padding-bottom: $marko-web-node-spacer;
        padding-left: $marko-web-node-spacer;
      }
    }

    #{ $self } {
      &__body {
        padding-right: $marko-web-node-spacer;
        padding-left: $marko-web-node-spacer;
      }
    }
  }

  &--image-top {
    #{ $self } {
      &__image-wrapper + #{ $self }__body {
        margin-top: $marko-web-node-spacer;
      }
      &__body {
        &--overlay {
          margin-top: 0;
        }
      }
    }
  }

  &--image-left {
    #{ $self } {
      &__contents {
        flex-direction: row;
        &--body {
          flex-direction: column;
        }
      }
      &__image-wrapper + #{ $self }__body {
        margin-left: $marko-web-node-spacer;
      }
      &__body {
        &--overlay {
          margin-left: 0;
        }
      }
    }
    &#{ $self }--image-flush #{ $self }__image-wrapper + #{ $self }__body {
      padding-left: 0;
    }
  }

  &--image-bottom {
    #{ $self } {
      &__contents {
        flex-direction: column-reverse;
        &--body {
          flex-direction: column;
        }
      }
      &__image-wrapper + #{ $self }__body {
        margin-bottom: $marko-web-node-spacer;
      }
      &__body {
        &--overlay {
          margin-bottom: 0;
        }
      }
    }
  }

  &--image-right {
    #{ $self } {
      &__contents {
        flex-direction: row-reverse;
        &--body {
          flex-direction: column;
        }
      }
      &__image-wrapper + #{ $self }__body {
        margin-right: $marko-web-node-spacer;
      }
      &__body {
        &--overlay {
          margin-right: 0;
        }
      }
    }
    &#{ $self }--image-flush #{ $self }__image-wrapper + #{ $self }__body {
      padding-right: 0;
    }
  }
}
