import { getAsObject } from '@base-cms/object-path';

$ const publications = getAsObject(input, 'publications');

<document>
  <div class="container-fluid-max">
    <${input.renderBody} />
  </div>
</document>
