$ const { config, site } = out.global;
$ const description = site.get('magazines.description');

<document above-container=input.aboveContainer below-container=input.belowContainer>
  <@head>
    <marko-web-page-metadata title="Magazines" description=description />
    <${input.head} />
    <marko-web-gtm-start />
  </@head>
  <@container above-page=input.abovePage below-page=input.belowPage>
    <@page for="magazine">
      <${input.page} />
    </@page>
  </@container>
</document>
