$ const params = input.params;
$ if (params.after && params.skip) delete params.skip;
$ if (params.queryFragment) delete params.queryFragment;
$ if (params.renderBody) delete params.renderBody;

<vue-component name="LoadMoreButton" props={ tag: input.tag, params } />
