$ const params = input.params;
$ if (params.after && params.skip) delete params.skip;
$ if (params.queryFragment) delete params.queryFragment;
$ if (params.renderBody) delete params.renderBody;

<a href=`/load-more/${input.tag}?q=${encodeURIComponent(JSON.stringify(params))}`>Load More</a>
