import { getAsObject, get } from '@base-cms/object-path';
import queryFragment from '../../api/fragments/website-scheduled-content';

$ const section = getAsObject(data, 'section');

<layout section=section>
  <content-hero-block-a
    section-id=section.id
    limit=6
    require-image=true
  />
  <cms-ad-placeholder size="970x90" class="text-center my-3" />
</layout>
