
$leaders-base-color: rgba(0, 0, 0, .84) !default;
$leaders-base-font-family: "Muli", sans-serif !default;
$leaders-base-font-size: 16px !default;
$leaders-base-font-weight: 400 !default;
$leaders-base-line-height: 1.5 !default;

$leaders-nav-link-font-family: $leaders-base-font-family !default;
$leaders-nav-link-color: $leaders-base-color !default;
