
$leaders-base-color: rgba(0, 0, 0, .84) !default;
$leaders-base-font-family: "Muli", sans-serif !default;
$leaders-base-font-size: 1rem !default;
$leaders-base-font-weight: 400 !default;
$leaders-base-line-height: 1.5 !default;

// Colors
$leaders-primary-color: #002f7b !default;
$leaders-primary-color-light: #005bac !default;
$leaders-accent-color: #d656b0 !default;

// Nav Links
$leaders-nav-link-color: $leaders-primary-color !default;
$leaders-nav-link-font-family: $leaders-base-font-family !default;
$leaders-nav-link-font-size: $leaders-base-font-size !default;
$leaders-nav-link-font-weight: 600 !default;
$leaders-nav-link-line-height: $leaders-base-line-height !default;
$leaders-nav-link-padding-x: .25rem !default;
$leaders-nav-link-padding-y: .375rem !default;

$leaders-nav-link-active-color: #fff !default;
$leaders-nav-link-active-bg-color: $leaders-accent-color !default;
$leaders-nav-link-active-box-shadow: 0 3px 5px rgba(0, 0, 0, .15) !default;

// Dropdowns
$leaders-dropdown-background-box-shadow: 0 3px 9px rgba(0, 0, 0, .35) !default;
$leaders-dropdown-background-box-shadow-below: $leaders-dropdown-background-box-shadow !default;
$leaders-dropdown-background-box-shadow-above: $leaders-dropdown-background-box-shadow !default;
$leaders-dropdown-background-box-shadow-left: $leaders-dropdown-background-box-shadow !default;
$leaders-dropdown-background-box-shadow-right: $leaders-dropdown-background-box-shadow !default;

$leaders-dropdown-background-border: 10px solid $leaders-accent-color !default;

// Icons
$leaders-icon-color: $leaders-base-color !default;
$leaders-icon-size: $leaders-base-font-size !default;

$leaders-icon-videocam-margin: .25rem !default;
$leaders-icon-videocam-color: #eecb2f !default;
$leaders-icon-videocam-size: calc(#{$leaders-icon-size} * 1.25) !default;

$leaders-icon-videocam-active-color: $leaders-nav-link-active-color !default;

$leaders-icon-filter-margin: .375rem !default;
$leaders-icon-filter-color: $leaders-primary-color-light !default;
$leaders-icon-filter-size: calc(#{$leaders-icon-size} * .8125) !default;

$leaders-icon-filter-active-color: $leaders-nav-link-active-color !default;

// Card Headers
$leaders-card-header-border-color: #cecece !default;
$leaders-card-header-color: $leaders-base-color !default;
$leaders-card-header-bg-color: #eff1f2 !default;

// Card Bodies
$leaders-card-body-border-color: #999 !default;
$leaders-card-body-color: $leaders-primary-color !default;
$leaders-card-body-bg-color: #fff !default;
