import { getAsObject } from "@base-cms/object-path";

$ const { content } = input;
$ const company = getAsObject(content, "company");

<if(company.id)>
  <company-name company=company />
</if>
<else>
  <authors content=content />
</else>
