// Brand Colors
$marko-web-social-sharing-facebook:     #1877f2 !default;
$marko-web-social-sharing-linkedin:     #0077b5 !default;
$marko-web-social-sharing-pinterest:    #bd081c !default;
$marko-web-social-sharing-twitter:      #1da1f2 !default;

$marko-web-social-sharing-brand-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$marko-web-social-sharing-brand-colors: map-merge(
  (
    "facebook":     $marko-web-social-sharing-facebook,
    "linkedin":     $marko-web-social-sharing-linkedin,
    "pinterest":    $marko-web-social-sharing-pinterest,
    "twitter":      $marko-web-social-sharing-twitter,
  ),
  $marko-web-social-sharing-brand-colors
);
